/*
 * Resolutify
 * Copyright (c) 2012 Kyle Sevenoaks
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * The name of Kyle Sevenoaks may not be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY KYLE SEVENOAKS "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL KYLE SEVENOAKS BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */


@font-face {
    font-family: 'honeyScriptlight';
    src: url('fonts/honeyscript-light-webfont.eot');
    src: url('fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/honeyscript-light-webfont.woff') format('woff'),
         url('fonts/honeyscript-light-webfont.ttf') format('truetype'),
         url('fonts/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'honey_scriptsemibold';
    src: url('fonts/honeyscript-semibold-webfont.eot');
    src: url('fonts/honeyscript-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/honeyscript-semibold-webfont.woff') format('woff'),
         url('fonts/honeyscript-semibold-webfont.ttf') format('truetype'),
         url('fonts/honeyscript-semibold-webfont.svg#honey_scriptsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinnamon_cakeregular';
    src: url('fonts/cinnamon_cake-webfont.eot');
    src: url('fonts/cinnamon_cake-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cinnamon_cake-webfont.woff') format('woff'),
         url('fonts/cinnamon_cake-webfont.ttf') format('truetype'),
         url('fonts/cinnamon_cake-webfont.svg#cinnamon_cakeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*K7o styles*/

/*@import url("fontFace.css");*/


html, body
{
	width: 100%;
	height: 100%;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	background: #111;
}	



section#bacon
{
	width: 100%;
	height: 100%;
	color: #eee;
	background-image: url(../images/backgrounds/blueprint.png);
	background-position: 50% 50%;
	background-repeat: repeat;
	box-shadow:inset 0px 0px 450px rgba(0, 0, 0, 0.8);
}


#theMenu
{
	width: 100%;
	height: 100px;
	/*box-shadow: 0px 0px 15px #111;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(125,185,232,0)));*/
	background: rgba(125,185,232,0.5);
	border-bottom: 1px dashed #eee;
	text-indent: 30px;
}

#theMenu div, 
#theMenu nav
{
	width: 33%;
	height: 100px;
	line-height: 100px;
	/*padding: 0 10px;*/
	background: transparent;
	float: left;
}


#theMenu ul
{
	float: right;
}

#theMenu li
{
	float: left;
	border-left: 1px solid #777;
	padding: 0 5px;
}


#theMenu li:first-child
{
	border-left: 0;
}

#theMenu li:last-child
{
	/*color: #efe;*/
}

#theMenu li:hover
{
	cursor: pointer;
	color: #ddd;
}

#theMenu div#headMenu
{
	/*position: relative;
	right: 0px;*/
	
}

#theMenu input
{
	float: right;
	height: 55px;
	width: 280px;
	/*background-image: url(../images/backgrounds/searchBg.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;*/
	margin-top: 10px;
	border: 1px solid #333;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow:inset 0 0 10px #444;
	padding: 10px;
	padding-left: 20px;
	font-family: cinnamon_cakeregular, serif;
	font-size: 30px;
	/*text-indent: 51px;
	-webkit-transition: all ease-in 0.5s;*/
}

#theMenu input:focus
{
	/*background-position: -43px 50%;
	-webkit-transition: all ease-in 0.2s;
	text-indent: 0px;*/
	outline: none;
}
#theMenu button
{
	float: right;
	margin-top: 10px;
	margin-left: -2px;
	height: 77px;
	padding: 10px;
	font-size: 25px;
	border: 1px solid #333;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	background-color: rgba(255,255,255,0.5);
	background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 1) 100%);
}

#theMenu button:hover
{
	cursor: pointer;
	background-color: rgba(255,255,255,0.5);
	background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 1) 0%,rgba(230, 230, 230, 0.8) 100%);
	
}

#theMenu button:active
{
	box-shadow:inset 0 0 5px #444;
	
}


#theMenu div h1
{
	width: 100%;
	font-size: 70px;
	/*font-style: italic;*/
	text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    font-family: honeyScriptlight, serif;

}

section#sideBar
{
	position: fixed;
	top: 25%;
	/*left: -75px;*/
	z-index: 9999;
	width: 100px;
	height: auto;
	/*background-image: url(../images/backgrounds/grillMetalBg.jpg);
	background-position: 50% 50%;*/
	background-color: rgba(255,255,255,0.5);
	background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	box-shadow: 0px 0px 15px #111;
	border: 1px solid #333;
	border-radius: 10px;
	/*border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-transition: left 0.7s;
	-moz-transition: opacity 0.7s;*/
}

section#sideBar:hover
{
	/*left: 0px;
	-webkit-transition: left 0.2s;
	-moz-transition: left 0.2s;*/
	cursor: move;
}

section#sideBar.highlight
{
	background-color: rgba(255,255,255,1);
}

/*section#sideBar:focus
{
	background-color: rgba(255,255,255,0.5);
}*/

#sideBar ul
{
	margin: 25% auto;
	padding: 0;
	padding: 10px 0;
}

#sideBar ul li
{
	width: 100%;
	text-align: center;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));*/
	margin: 20px auto;
	color: #444;
	text-shadow: 1px 1px 1px #ddd;
	-webkit-transition: opacity 0.7s;
	-moz-transition: opacity 0.7s;
	font-size: 12px;
}

#sideBar ul li:hover
{
	
	color: #111;
	/*opacity: 0.5;*/
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	cursor: pointer;
}

#sideBar ul li button,
#sideBar ul li ul.dimContainer button
{
	opacity: 1;
	-webkit-transition: opacity 0.7s;
	-moz-transition: opacity 0.7s;
}

#sideBar ul li button.open:hover,
#sideBar ul li button.close:hover,
#sideBar ul li button.refresh:hover,
#sideBar ul li button.clear:hover,
#sideBar ul li ul.dimContainer button#ph-po:hover,
#sideBar ul li ul.dimContainer button#ph-la:hover,
#sideBar ul li ul.dimContainer button#ta-po:hover,
#sideBar ul li ul.dimContainer button#ta-la:hover
{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
}

#sideBar ul li ul.dimContainer button#custSet
{
	opacity: 0.5;
	-webkit-transition: opacity 0.7s;
	-moz-transition: opacity 0.7s;
}

#sideBar ul li ul.dimContainer button#custSet:hover
{
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
}

#sideBar ul li button.open
{
	height: 40px;
	width: 40px;
	background-color: transparent;
	background-image: url(../images/icons/plus.png);
	border: none;
	cursor: pointer;
}

#sideBar ul li button.close
{
	height: 40px;
	width: 40px;
	background-color: transparent;
	background-image: url(../images/icons/minus.png);
	border: none;
	cursor: pointer;
}


#sideBar ul li button.refresh
{
	height: 40px;
	width: 40px;
	background-color: transparent;
	background-image: url(../images/icons/refresh.png);
	border: none;
	cursor: pointer;
}


#sideBar ul li button.clear
{
	height: 40px;
	width: 40px;
	background-color: transparent;
	background-image: url(../images/icons/cross.png);
	border: none;
	cursor: pointer;
}

#sideBar ul li input[type=checkbox]
{
	cursor: pointer;
}

#footer
{
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	text-align: right;
	line-height: 50px;
	background: rgba(125,185,232,0.5);
	border-top: 1px dashed #eee;
}


#footer div
{
	margin-right: 10px;
}

ul.dimContainer
{
	width: 100px;
	display: none;
	position: absolute;
	top: 150px; 
	left: 75px;
	background-color: rgba(255,255,255,0.5);
	background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	box-shadow: 0px 0px 15px #111;
	border: 1px solid #333;
	border-radius: 10px;
}

ul.dimContainer button
{
	background: transparent;
	border: none;
	width: 100%;
	cursor: pointer;
}

ul.dimContainer input
{
	width: 90%;
}

span.tron
{
	color: rgba(255,255,255,0.1);
	text-shadow: 1px 1px 1px #ddd;
}

span.clear
{
	display: block;
	height: 0px;
	clear: both;
}

/*jWindow stuff*/

.jWindow-modalBackground {
	background-color: rgba(0,0,0,.75);
}

.jWindow {
	box-shadow: 0 0 10px black;
	border-radius: 10px 10px 0 0;
}
.jWindow-modalBackground .jWindow {
	box-shadow: 0 0 20px rgba(255,255,255,.5);
}

.jWindow-titleBar {
	height: 30px;
	background-color: black;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	background: linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	border-radius: 10px 10px 0 0;
	text-shadow: 0px 0px 3px #333;
}
.jWindow-titleBar .jWindow-title {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	color: white;
	font-size: 11px;
}

.jWindow-tabsBar {
	height: 20px;
	background-color: rgba(230, 230, 230, 0.5);
}
.jWindow-tabsBar .jWindow-tabs {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 10px;
}
.jWindow-tabsBar .jWindow-tabs .jWindow-tab {
	background-color: rgba(230, 230, 230, 0.5);
	padding: 0 10px;
	margin-right: 5px;
	height: 20px;
	border-radius: 10px 10px 0 0;
	line-height: 20px;
	color: white;
	font-size: 11px;
	-webkit-transition: background-color 0.2s;
}
.jWindow-tabsBar .jWindow-tabs .jWindow-tab:hover,
.jWindow-tabsBar .jWindow-tabs .jWindow-tab.active {
	background-color: #3d779c;
	-webkit-transition: background-color 0.2s;
}

.jWindow-content {
	background-color: rgba(0,0,0,.25);
}

.jWindow-statusBar {
	height: 7px;
	background-color: rgba(230, 230, 230, 0.5);
}

.jWindow-statusBar .jWindow-resizeIcon {
	width: 7px;
	height: 7px;
	background: url('img/resize.png');
}

.jWindow-titleBar .jWindow-button {
	cursor: pointer;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
	position: absolute;
	width: 30px;
	height: 24px;
	background: #181818;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	background: linear-gradient(top, rgba(255, 255, 255, 0.8) 0%,rgba(230, 230, 230, 0.5) 100%);
	top: 0;
}
.jWindow-titleBar .jWindow-button:hover {
	background: #181818;
	background: -moz-linear-gradient(top, #3d779c 0%,#143e64 100%);
	background: -webkit-linear-gradient(top, #3d779c 0%,#143e64 100%);
	background: -o-linear-gradient(top, #3d779c 0%,#143e64 100%);
	background: -ms-linear-gradient(top, #3d779c 0%,#143e64 100%);
	background: linear-gradient(top, #3d779c 0%,#143e64 100%);
	-webkit-transition: -webkit-linear-gradient 0.2s;
}

.jWindow-titleBar .jWindow-closeButton {
	right: 0px;
	border-radius: 0 10px 0 0;
}
.jWindow-titleBar .jWindow-closeButton:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('img/close.png') center center no-repeat;
}

.jWindow-titleBar .jWindow-maximiseButton {
	right: 30px;
}
.jWindow-titleBar .jWindow-maximiseButton:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('img/max.png') center center no-repeat;
}

.jWindow-titleBar .jWindow-minimiseButton {
	right: 60px;
	border-radius: 0 0 0 10px;
}
.jWindow-titleBar .jWindow-minimiseButton:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('img/min.png') center center no-repeat;
}

.jWindow-titleBar .jWindow-refreshButton {
	right: 95px;
	border-radius: 0 0 10px 10px;
	width: 24px;
}
.jWindow-titleBar .jWindow-refreshButton:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('img/refresh.png') center center no-repeat;
}

div.focus .jWindow-titlebar
{
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,rgba(230, 230, 230, 1) 100%);
}

#window-container #phoneport.jWindow.ph-la
{
	width: 480px !important;
	height: 360px !important;
}
